networks:
    proxy-public:
        external: true


volumes:
    db-data:
    media-files:
    static-files:
    letsencrypt:


x-backend-env: &backend-env
    environment:
        - DB_CONNECTION_STRING=${POSTGRES_USER}:${POSTGRES_PASSWORD}@${NETWORK_DATABASE_HOST}:${NETWORK_DATABASE_PORT}/${BACKEND_DB_NAME}
        - BACKEND_SECRET_KEY
        - BACKEND_DEBUG
        - BACKEND_ALLOWED_HOSTS
        - BACKEND_CSRF_TRUSTED_ORIGINS
        - BACKEND_DB_ECHO
        - NETWORK_BACKEND_PORT
        - NETWORK_BACKEND_URL
x-postgres-env: &postgres-env
    environment:
        - PGDATA=/var/lib/postgresql/data
        - DATABASES=${BACKEND_DB_NAME}
        - POSTGRES_PASSWORD
        - POSTGRES_USER 
        - POSTGRES_DB 
x-nginx-env: &nginx-env
    environment:
        - NETWORK_NGINX_PORT


services:
    postgres-db:
        << : *postgres-env
        image: postgres:18.0
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
          - proxy-public
        volumes:
          - db-data:/var/lib/postgresql/data
          - ./docker/postgres-init/:/docker-entrypoint-initdb.d/
        ports:
          - "5432:5432"
        restart: unless-stopped


    app:
        << : *backend-env
        image: main_app_image
        build:
            context: .
            dockerfile: ./docker/backend/Dockerfile.app
        depends_on:
            postgres-db:
                condition: service_healthy
        restart: unless-stopped
        networks:
            - proxy-public
        expose:
            - ${NETWORK_BACKEND_PORT}
        labels:
            # HTTP
            - traefik.enable=true
            - traefik.docker.network=proxy-public
            - traefik.http.routers.app.rule=Host(`${DOMAIN_URL}`) && PathPrefix(`${NETWORK_BACKEND_URL}`)
            - traefik.http.services.app.loadbalancer.server.port=${NETWORK_BACKEND_PORT}
            - traefik.http.routers.app.entrypoints=web


    nginx-server:
        << : *nginx-env
        image: nginx:1.29.0
        volumes:
            # Configuration
            - type: bind
              source: ./docker/nginx/nginx.conf.template
              target: /etc/nginx/templates/default.conf.template
              read_only: true
            # Static / Media
            - static-files:/usr/share/nginx/static/
            - media-files:/usr/share/nginx/media/
        depends_on:
            app:
                condition: service_started
        networks:
            - proxy-public
        labels:
            # HTTP
            - traefik.enable=true
            - traefik.http.routers.nginx-server.rule=PathPrefix(`${NETWORK_NGINX_STATIC_URL}`) # <- rule
            - traefik.http.services.nginx-server.loadbalancer.server.port=${NETWORK_NGINX_PORT}
            - traefik.http.routers.nginx-server.entrypoints=web
