networks:
    proxy-public:
        external: true

volumes: 
    letsencrypt:


services:
    traefik:
        image: traefik:v3.6.0
        security_opt:
            - no-new-privileges:true
        command:
            - "--log.level=INFO"
            - "--accesslog"
                # HTTP
            - "--api.insecure=true"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--entrypoints.web.address=:80"
        ports:
            - "${NETWORK_TRAEFIK_PORT}:80"
            - "${NETWORK_TRAEFIK_DASHBOARD_PORT}:8080"
        volumes:
            - "letsencrypt:/letsencrypt"
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        networks:
            - proxy-public
        labels:
            # HTTP
            - "traefik.enable=true"
            - "traefik.http.middlewares.traefik-compress.compress=true"
            - "traefik.http.routers.traefik.service=api@internal"
            - "traefik.http.routers.traefik.middlewares=traefik-compress"
