server {
    listen       ${NETWORK_NGINX_PORT};
    server_name  nginx-static-media-server;

    # ----------------------------- FILES ----------------------------- #
    location / {
        sendfile   on;
        tcp_nopush on;
        root /usr/share/nginx/;
    }

    location /health_check {
        access_log	off;
        error_log	off;
        return 200 'ok';
    }
}
